/* Hide the View on GitHub button */
.footer a.github {
  display: none;
}

/* Hide the View on GitHub button in the top banner */
.navbar .github {
  display: none !important;
}

/* Basic styles for the navigation bar */
.site-navigation {
  background-color: #333;
  padding: 10px;
}

.site-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.site-navigation li {
  margin-right: 20px;
}

.site-navigation .nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.site-navigation .nav-link:hover {
  text-decoration: underline;
}
